@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
}

.form-container {
    width: 3/4;
}
/* for main homepage logo */
.hover-effect:hover .text-white {
  color: #da720a;
}
.hover-effect:hover .text-orange-500 {
  color: #FFFFFF;
}
.text-white, .text-orange-500 {
  transition: color 0.5s;
}

/*toast container */
.toast {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #00008B; /* Assuming this is your darkblue color */
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 50;
  max-width: 24rem;
  font-size: 0.875rem;
}

/*show state for the toast */
.toast.show {
  opacity: 1;
}

/*for different types */
.toast-success {
  border-left: 4px solid #10B981; 
}
.toast-error {
  border-left: 4px solid #EF4444; 
}
.toast-warning {
  border-left: 4px solid #F59E0B; 
}
.toast-info {
  border-left: 4px solid #3B82F6; 
}