<nav class="bg-gray-800 text-white h-screen absolute">
  <div class="container mx-auto flex flex-col items-start p-4">
    <div class="text-lg font-semibold mb-4">
      Book Vault Admin
    </div>
    <!-- Users section -->
    <a href="#/manage-user" data-link="" class="hover:bg-gray-700 px-3 py-2 rounded-md w-full mb-2">
      Manage Users
    </a>
    <!-- Staff section -->
    <a href="#/manage-staff" data-link="" class="hover:bg-gray-700 px-3 py-2 rounded-md w-full mb-2">
      Manage Staff
    </a>
    <!-- Borrow section -->
    <a href="#/manage-borrow" data-link="" class="hover:bg-gray-700 px-3 py-2 rounded-md w-full mb-2">
      Manage Borrow
    </a>
    <!-- Books section -->
    <a href="#/manage-book" data-link="" class="hover:bg-gray-700 px-3 py-2 rounded-md w-full mb-2">
      Manage Books
    </a>
    <!-- Logout -->
    <a href="/" id="logOut" data-link="" class="hover:bg-gray-700 px-3 py-2 rounded-md w-full mt-auto">
      Logout
    </a>
  </div>
</nav>